@import './base.css';

#app {
  width: 600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-family: 'Georgia', serif;
  text-transform: lowercase;
  font-size: 3rem;
  font-weight: bold;
  color:#303030;
  margin-bottom: 1rem;
}

body {
  overflow: hidden;
  display: flex;
  place-items: center;
}

a {
  text-decoration: none;
  color: rgb(189, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 37%, 0.2);
  }
}
